<?xml version="1.0" encoding="UTF-8"?>
<events>
		<!-- Add more events with keywords and responses as needed -->
    <event>
        <keyword>flaming kick</keyword>
        <response>/p Flaming Kick (NUKE WATER) (USE BURN) <call14> </response>
    </event>
    <event>
        <keyword>flashflood</keyword>
        <response>/p Flashflood (NUKE THUNDER) <call14> </response>
    </event>
    <event>
        <keyword>icy grasp</keyword>
        <response>/p Icy Grasp (NUKE FIRE) (USE BURN) <call14> </response>
    </event>
    <event>
        <keyword>eroding flesh</keyword>
        <response>/p Eroding Flesh (NUKE WIND) <call14>  (USE PANACEA!) <call14> </response>
    </event>
    <event>
        <keyword>fulminous smash</keyword>
        <response>/p Fulminous Smash (NUKE STONE) <call14> </response>
    </event>
    <event>
        <keyword>undulating shockwave</keyword>
        <response>/p Undulating Shockwave (SWITCH TO ICE) <call14> </response>
    </event>
    <event>
        <keyword>shrieking gale</keyword>
        <response>/p Shrieking Gale (NUKE STONE) <call14> </response>
    </event>
    <event>
        <keyword>demonfire</keyword>
        <response>/p Demonfire (NUKE FIRE) <call14> </response>
    </event>
    <event>
        <keyword>torrential pain</keyword>
        <response>/p Torrential Pain (NUKE WATER) <call14> </response>
    </event>
    <event>
        <keyword>frozen blood</keyword>
        <response>/p Frozen Blood (NUKE ICE) <call14> </response>
    </event>
    <event>
        <keyword>ensepulcher</keyword>
        <response>/p Ensepulcher (NUKE STONE) <call14> </response>
    </event>
    <event>
        <keyword>ceaseless surge</keyword>
        <response>/p Ceasless Surge (NUKE THUNDER) <call14> </response>
    </event>
    <event>
        <keyword>blast of reticence</keyword>
        <response>/p Blast of Reticence (NUKE WIND) <call14> </response>
    </event>
	<event>
		<keyword>bane of tartarus</keyword>
		<response>/p Bane of Tartarus STOP NUKING <call14> </response>
	</event>
</events>

<!--make sure keywords are lowercase or it will not work-->
