<?xml version="1.0" encoding="UTF-8"?>
<events>
		<!-- Add more events with keywords and responses as needed -->
    <event>
        <keyword>flaming kick</keyword>
        <response>/p Flaming Kick (NUKE WATER) (USE BURN) <call14> </response>
    </event>
    <event>
        <keyword>flashflood</keyword>
        <response>/p Flashflood (NUKE THUNDER) <call14> </response>
    </event>
    <event>
        <keyword>icy Grasp</keyword>
        <response>/p Icy Grasp (NUKE FIRE) (USE BURN) <call14> </response>
    </event>
    <event>
        <keyword>eroding Flesh</keyword>
        <response>/p Eroding Flesh (NUKE WIND) <call14>  (USE PANACEA!) <call14> </response>
    </event>
    <event>
        <keyword>fulminous Smash</keyword>
        <response>/p Fulminous Smash (NUKE STONE) <call14> </response>
    </event>
    <event>
        <keyword>undulating Shockwave</keyword>
        <response>/p Undulating Shockwave (SWITCH TO ICE) <call14> </response>
    </event>
    <event>
        <keyword>shrieking Gale</keyword>
        <response>/p Shrieking Gale (NUKE STONE) <call14> </response>
    </event>
    <event>
        <keyword>demonfire</keyword>
        <response>/p Demonfire (NUKE FIRE) <call14> </response>
    </event>
    <event>
        <keyword>torrential Pain</keyword>
        <response>/p Torrential Pain (NUKE WATER) <call14> </response>
    </event>
    <event>
        <keyword>frozen Blood</keyword>
        <response>/p Frozen Blood (NUKE ICE) <call14> </response>
    </event>
    <event>
        <keyword>ensepulcher</keyword>
        <response>/p Ensepulcher (NUKE STONE) <call14> </response>
    </event>
    <event>
        <keyword>ceaseless Surge</keyword>
        <response>/p Ceasless Surge (NUKE THUNDER) <call14> </response>
    </event>
    <event>
        <keyword>blast of reticence</keyword>
        <response>/p Blast of Reticence (NUKE WIND) <call14> </response>
    </event>
	<event>
		<keyword>bane of tartarus</keyword>
		<response>/p Bane of Tartarus STOP NUKING <call14> </response>
	</event>
</events>

<!--make sure keywords are lowercase or it will not work-->
